# Datasets
data/
*.csv
*.dat
*.h5
*.zip

# Training artifacts
checkpoints/
logs/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment folders
venv/
env/
.venv/
conda_env/

# IDE and OS specific
.idea/
.vscode/
.DS_Store
chfdb/
*.npy
*.dat
