*.keras filter=lfs diff=lfs merge=lfs -text
data/ecg/*.dat filter=lfs diff=lfs merge=lfs -text
data/ecg/*.hea filter=lfs diff=lfs merge=lfs -text
data/lung/*.png filter=lfs diff=lfs merge=lfs -text
data/lung/*.jpg filter=lfs diff=lfs merge=lfs -text
data/lung/*.jpeg filter=lfs diff=lfs merge=lfs -text
data/** filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
